<html>
    <head>
        <style>
            /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
            .navbar {
                font-size: 25;
                overflow: hidden;
                background-color: #333;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
            }

            /* Style the navigation bar links */
            .navbar a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 20px;
                text-decoration: none;
            }

            /* Change color on hover */
            .navbar a:hover {
                background-color: #ddd;
                color: black;
            }

            /* Active/current link */
            .navbar a.active {
                background-color: #666;
                color: white;
            }
            /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
            @media screen and (max-width: 400px) {
                .navbar a {
                    float: none;
                    width: 100%;
                }
                tr,td,th{
                    float: none;
                    width: 100%;
                }
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                border: 1px solid #ddd;
            }

            th, td {
                text-align: left;
                padding: 16px;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2
            }
        </style>
    </head>
    <body>
        <div class="navbar">
            <a href="/photographer/home">Home</a>
            <a href="/contact">Contact</a>
            <a href="#" class="active">My Bookings</a>
            <a href="/logout" class="right" style="float: right">Logout</a>
        </div>
        <table>
            <tr>
                <th>Photographer</th>
                <th>Function type</th>
                <th>Album type</th>
                <th>Theme</th>
                <th>Date</th>
                <th>Time</th>
                <th>Venue1</th>
                <th>Venue2</th>
                <th>Venue3</th>
                <th>Status</th>
            </tr>
            <% for (i=0; i < bookings.length; i++) { %>
                <tr>
                    <td><%= bookings[i].photographer %></td>
                    <td><%= bookings[i].function_type %></td>
                    <td><%= bookings[i].album_type %></td>
                    <td><%= bookings[i].album_theme %></td>
                    <td><%= bookings[i].date.getDate() %>/<%= bookings[i].date.getMonth() %>/<%= bookings[i].date.getFullYear() %></td>
                    <td><%= bookings[i].time %></td>
                    <td><%= bookings[i].venue1 %></td>
                    <td><%= bookings[i].venue2 %></td>
                    <td><%= bookings[i].venue3 %></td>
                    <td><%= bookings[i].status %></td>
                </tr>
            <% } %>
        </table> 
    </body>
</html>