<html>
    <head>
        <style>
            .navbar {
                font-size: 25;
                overflow: hidden;
                background-color: #333;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
            }
            .navbar a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 20px;
                text-decoration: none;
            }
            .navbar a:hover {
                background-color: #ddd;
                color: black;
            }
            .navbar a.active {
                background-color: #666;
                color: white;
            }
            @media screen and (max-width: 400px) {
                .navbar a {
                    float: none;
                    width: 100%;
                }
                tr,td,th{
                    float: none;
                    width: 100%;
                }
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                border: 1px solid #ddd;
            }

            th, td {
                text-align: left;
                padding: 16px;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2
            }
        </style>
    </head>
    <body>
        <div class="navbar">
            <a href="/hod/home">Home</a>
            <a href="/contact">Contact</a>
            <a href="#" class="active">My leave</a>
            <a href="/logout" class="right" style="float: right">Logout</a>
        </div>
        <table>
            <tr>
                <th>employee_name</th>
                <th>request_day</th>
                <th>leave_from</th>
                <th>leave_to</th>
                <th>total_days</th>
                <th>purpose_of_leave</th>
                <th>Status</th>
            </tr>
            <% for (i=0; i < leave.length; i++) { %>
                <tr>
                    <td><%= leaves[i].employee_name %></td>
                    <td><%= leaves[i].request_day.getDate() %>/<%= leaves[i].request_day.getMonth() %>/<%= leaves[i].request_day.getFullYear() %></td>
                    <td><%= leaves[i].leave_from.getDate() %>/<%= leaves[i].leave_from.getMonth() %>/<%= leaves[i].date.getFullYear() %></td>
                    <td><%= leaves[i].leave_to.getDate() %>/<%= leaves[i].leave_to.getMonth() %>/<%= leaves[i].leaves_to.getFullYear() %></td>
                    <td><%= leaves[i].total_days %></td>
                    <td><%= leaves[i].purpose_of_leave</td>
                    <td><%= leaves[i].status %></td>
                </tr>
            <% } %>
        </table> 
    </body>
</html>